<footer>
    <div class="brand">
        <p><span>Brand</span> &copy; 2023</p>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="scroll-button">
        <button class="scroll-to-top-button" (click)="scrollToTop()">
            <i class="fas fa-arrow-up"></i>
        </button>
    </div>
    <div class="medias">
        <a>
            <img src="assets/media-logos/facebook.png" alt="facebook" id="face">
        </a>
        <a>
            <img src="assets/media-logos/instagram.png" alt="instagram" id="insta">
        </a>
        <a>
            <img src="assets/media-logos/twitter.png" alt="twitter" id="tt">
        </a>
    </div>
</footer>